.m-component-file-swiper {
  position: relative;
  padding: 12px 39px;
  width: 100%;
  height: 100%;
  background: #f7f8fa;
  box-sizing: border-box;
  margin: 0 auto;
  .swiper-container {
    position: static;

    .f-center {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      display: inline-block;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 27px;
    height: 100%;
    background-color: #e8ebf0;
    opacity: 1;
    text-align: center;
    color: #8993A4;
    cursor: pointer;

    &.swiper-button-disabled {
      opacity: 1;
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 22px;
    }
  }

  .swiper-button-next {
    left: auto;
    right: 0;
  }

  .swiper-button-prev {
    transform: rotate(180deg);
  }

  .swiper-button-prev:after, 
  .swiper-button-next:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../../images/arrow-icon.svg);
    background-size: 20px 20px;
  }
}